*{
    padding: 0;margin: 0;box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
   background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
   url(picone.jpg.avif);          ; 
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: none;
}
.logo{
    font-size: 1.4em;
    letter-spacing: 2px;
    text-shadow: none;
}
.jm-btn.primary {
    color:black;
    background-color:rgba(0,0,0,0.8),rgba(0,0,0,0.2);
    border-color: rgba(0, 0, 0, 0);
}
.jm-btn.small {
    border-width: 1px;
    min-height: 2em;
    padding: 4px 16px;
}
.jm-border-none {
    border: none !important;
}
.jm-btn {
    position: relative;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    min-width: 40px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    transition-property: background-color;
    border-radius: 250px;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 3em;
    background-color:rgba(53, 0, 0, 0.8),rgba(174, 81, 81, 0.2);
    border-color: rgba(0, 0, 0, 0);
    color: black;
    font-family: "JioType", helvetica, arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.08px;
    line-height: 1.5;
    transition: cubic-bezier(0.35, 0, 0.25, 1) 300ms;
}
.header-main-pincode-address {
    padding: 4px 15px !important;
}
img{
    margin: 0px 4px 0px 0px;
    width: 16px;
    height: 16px;
}
.jm-body-xs {
    font-family: "JioType", helvetica, arial, sans-serif;
    font-weight: 500 !important;
    font-size: 14px !important;
    letter-spacing: -0.07px !important;
    line-height: 1.4285714286 !important;
}
.deliver-to{
    padding: 1px;
}
.jm-pr-xxs {
    padding-right: 4px !important;
}
.jm-body-xs-bold {
    font-family: "JioType", helvetica, arial, sans-serif;
    font-weight: 700 !important;
    font-size: 14px !important;
    letter-spacing: -0.07px !important;
    line-height: 1.4285714286 !important;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 35px 30px;
    font-size: 20px;
}
.menu a:hover{
    color: orangered;
}
.signup a{
    text-decoration: none;   
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    letter-spacing: 1px;
    background: orangered;
    border-radius: 8px;
    transition: 0.3s;
}
.signup a:hover{
    background: transparent;
    border:1px solid orangered ;
}
.search{
    background: var(--bg-color-2);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    height: 2.1rem;
    width: 30rem;
    margin-left: 48%;
    padding: 5px;
}
.search input{
    padding: 1rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    background: none;
   color: var(--text-color-1);
    font-size: 1.5rem;    
}
.search label{
    font-size: 2rem;
    margin-left: 1.5rem;
    color: var(--text-color-1);
    cursor: pointer;
}
.search label:hover{
    border: 1px solid black;
    color: orangered;
}
.icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background: var(--bg-color-2);
    color: var(--text-color-1);
    cursor: pointer;
    text-align: center;
}
#search-btn{
    display: flex;
}
.btn{
    padding: 9px;
    border: none;
    border-radius: 6px;
    color: #333;
    font-size: 16px;
}
.btn:hover{
    background: transparent;
    border: 1px solid ;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.search-icon{
    width: 20px;
    height: 20px;
}
.txt{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.txt span{
    letter-spacing: 8px; 
    font-size: 1.4em;   
}
.txt h1{
    font-size: 3.5em;
}
.word{
    color: rgb(38, 206, 38);
}
.h5{
    letter-spacing: 4px;
}
.txt a{
    text-decoration: none;
    background: orangered;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: 0.01s;
    border-radius: 8px;   
}
.txt a:hover{
    background: transparent;
    border:1px solid orangered ;
}
#catagory{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    margin-left: 42px;   
}
.catagory-container{
    display: flex;
    justify-content: space-between;
    
    margin-left: 0;
    margin-top: 400px;
}
.catagory-box{ 
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
    margin-left: 20%;
    transition: 0.5s;
}
.catagory-box img{
    height: 35px;
    width: 90px;
    object-fit: contain;
    object-position: center;  
}
.catagory-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
    text-decoration: none;
}
.catagory-box:hover{
    transform: translateY(-5px);
    
}
.foot{
    top: 85%;
    left: 5%;
}   
    .footer-divider {
    align-self: normal;
    border-top: 1px solid #e0e0e0;
}
.footer-wrapper {
    max-width: 1184px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "JioType", helvetica, arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.06px;
    line-height: 1.3333333333;
    color: rgba(0, 0, 0, .65);
}
.copyright{
    display: flex;
    color: black;
    font-size: xx-small;
    align-items: center;
}
